body {
  font-family: "Helvetica", sans-serif;
}

.background {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
}

#designed {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.background h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
}

.background a {
  font-size: 18px;
  color: white;
}

.background a:hover {
  color: red;
}

.background a:visited {
  color: blue;
}
.background ul li {
  list-style-type: none;
  text-align: center;
}

.content {
  text-align: center;
}

.content h2 {
  font-weight: bold;
  font-size: 32px;
}

.content h3 {
  font-weight: bold;
  font-size: 23px;
}

.content p {
  font-size: 14px;
}

#footer {
  background-color: dimgray;
  color: white;
  text-align: center;
}

#footer p {
  font-size: 11px;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: red;
}

#footer a:visited {
  color: blue;
}

a {
  text-decoration: none;
}
